body {
  background-color: black;
  overflow: scroll;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box; }

div.bg-carousel {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

main div .img-main {
  background: url(/img/carrusel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 300px; }

  div .bg-nosotros{
    background: linear-gradient(rgba(24, 6, 27, 0.397), rgba(4, 5, 37, 0.5)), url(/img/nosotros.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.titulo-nosotros{
    color: rgb(251, 187, 8);
}
.titulo-productos{
    color: rgb(251, 187, 8);
}
.subtitulo-nosotros{
    color: rgb(251, 187, 8);
}
.p-nosotros{
    font-size: 16px;
    
}

.producto-img {
    width: 350px;
    height: 350px;
    border: 2px ridge rgb(251, 187, 8);
    border-radius: 15px;
}

.descripcion{
    font-size: 20px;
    color:rgb(251, 187, 8); ;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.Producto-text{
    font-size: 16px;
}

.bg-contacto {
    background-image: url(/img/contacto.jpg) ;
    background-position: center center;
    background-size: cover;
}
