main{
    div .img-main{
        background: url(/img/carrusel.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        min-height: 300px;
    }
}
